body {
	margin: 0;
  overflow: hidden;
  width: 20rem;
  padding-bottom: 10px;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
}

#nothing {
  display: none;
}

.label {
  margin-bottom: 0;
}
